name: FGO Login System

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '30 10 * * *'

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - name: Install Requeriments
      run: pip install -r https://raw.githubusercontent.com/O-Isaac/FGO-Daily-Login/master/requirements.txt

    - name: Gettings files from Repo
      uses: actions/checkout@v2
    
    - name: Execute main script
      run: | 
        python3 main.py
      env:
        userIds: ${{ secrets.GAME_USERIDS }}
        authKeys: ${{ secrets.GAME_AUTHKEYS }}
        secretKeys: ${{ secrets.GAME_SECRETKEYS }}
        UserAgent: ${{ secrets.GAME_USERAGENT }}
        fateRegion: ${{ secrets.GAME_REGION }}
        webhookDiscord: ${{ secrets.DISCORD_WEBHOOK }}

